.headline {
  margin-top: 6rem;
  font-size: 6ch;
}
.paragraf {
  font-family: poppins, sans-serif;
  font-weight: 400;
  color: #335e61;
  font-size: x-large;
}
@media (max-width: 768px) {
  .headline {
    margin-top: 5rem;
    font-size: 4ch;
  }
  .paragraf {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: medium;
  }
}
